{{!-- Home page --}}

<section class="homePage-section">
  {{!-- {{#if user}} --}}
  {{#each posts}}
  <div class="level level-articles">
    <div class="level-left article-pic">
      <img src="{{image}}" alt="Placeholder image">
    </div>
    <div class="level-right content">

      <h2 class="article-title">{{title}}</h2>
      <p>{{{stripTags content}}}</p>
      <p>publié par {{author}}, le {{moment createDate format="DD / MM / YYYY"}}</p>
      <button class="button is-link">
        <a href="/articles/{{_id}}">
          Lire
        </a>
      </button>
    </div>
  </div>
  {{/each}}
  {{!-- {{else}}
      <div class="container">
          <h1 class="title  is-1 has-text-danger txt">Le Surfcasting en Vendée</h1>
    <p class="subtitle is-2 has-text-danger txt">Bienvenue cher ami ce site est dispo pour poster tes photos, partager tes
      prises et laisser un petit post sur tes expèriences.</p>
      <p class="subtitle is-3 has-text-danger txt">Le site est ouvert à condition de s'inscrire, si vous n'êtes pas inscrits on vous attend.</p>
      </div>
      {{/if}} --}}
</section>