<section class="articles articles-pannel" style="height: 74vh">
  <div class="marge" style="margin-top: 100px"></div>
  <div class="column">
    <h4>POSTS</h4>

    <table class="table is-bordered">
      <thead>
        <th>auteur</th>
        <th>Titre</th>
        <th scope="col" colspan="3">Contenu</th>
        <th>Actions</th>
      </thead>
      {{#each (limit posts 20)}}
      <tbody>
        <td>{{author}}</td>
        <td>{{title}}</td>
        <td colspan="3">{{stripTags content}}</td>
        <td><a href="/article/delete/{{_id}}"><i class="fas fa-trash-alt"></i></a>
          <a href="/article/edit/{{_id}}"><i class="fas fa-pencil-alt"></i></a></td>
      </tbody>
      {{!-- <script>
        function deleteArticle() {
          if (confirm("Voulez-vous supprimer ce post ?")) {
            window.location.replace(`/article/delete/{{_id}}`)
          } else {
            windows.location.replace(`/profile`)
          }
        }
      </script> --}}
      {{/each}}
    </table>
  </div>
  <a href="/profile">profile</a>
</section>