{{!-- <div class="select">
    <select name="accountType">
        <option value="basic">Utilisateur</option>
        <option value="admin">Administrateur</option>
        <option value="sudo" disabled>SuperAdmin (irréversible)</option>
    </select>
</div>

{{#if user.accountType == basique}}
basique
{{/if}}

admin


{{#if user.accountType == sudo}}
sudo
{{/if}}

{{#if user.accountType == admin}}
<table>
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Type de Compte</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each basicUser}}
        <tr>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{email}}</td>
            <td>{{acount type}}</td>
            <td>
                <i>
                </i>
                <i>
                </i>
            </td>
        </tr>
        {{/each}}
        {{#each adminUser}}
        <tr>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{email}}</td>
            <td>{{acount type}}</td>
            <td>
                <i>
                </i>
                <i>
                </i>
            </td>
        </tr>
        {{/each}}
        {{#each sudoUser}}
        <tr>
            <td>{{name}}</td>
            <td>{{surname}}</td>
            <td>{{email}}</td>
            <td>{{acount type}}</td>
            <td>
                
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{/if}} --}}